# Preliminary Analysis

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

operating_budget = pd.read_csv('data/fy24-adopted-operating-budget.csv')
capital_budget = pd.read_csv('data/fy24-capital-budget-plan-recommended.csv')

## 1. Data Exploration on Basic Info

In [2]:
operating_budget.head()

,Cabinet,Dept,Program,Expense Category,FY21 Actual Expense,FY22 Actual Expense,FY23 Appropriation,FY24 Adopted
0,Mayor's Cabinet,Mayor's Office,Mayor's Administration,Personnel Services,1820538.46,1624903.69,1584054.209,1921403.81
1,Mayor's Cabinet,Mayor's Office,Mayor's Administration,Contractual Services,127557.82,284597.9,99314,219633.42
2,Mayor's Cabinet,Mayor's Office,Mayor's Administration,Supplies & Materials,27318.17,28541.55,44938,55573.65
3,Mayor's Cabinet,Mayor's Office,Mayor's Administration,Current Charges & Obligations,11365.77,19410.3,29630,16734.29
4,Mayor's Cabinet,Mayor's Office,Mayor's Administration,Equipment,39040.6,16164.36,24900,36115

In [3]:
capital_budget.head()

,Department,Project_Name,Scope_Of_Work,PM_Department,Project_Status,Neighborhood,Authorization_Existing,Authorization_FY,Authorization_Future,Grant_Existing,...,GO_Expended,Capital_Year_0,CapitalYear_1,Capital_Year_25,Grant_Expended,Grant_Year_0,Grant_Year_1,GrantYear_25,External_Funds,Total_Project_Budget
0,Boston Centers for Youth and Families,BCYF Security and Technology Upgrades,Improvements to technology infrastructure and ...,Boston Centers for Youth and Families,To Be Scheduled,Citywide,750000,1250000,0,0,...,0,0,100000,1900000,0,0,0,0,0,2000000
1,Boston Centers for Youth and Families,BCYF Tobin Community Center Retaining Wall,Repair or replace the retaining wall adjacent ...,Public Facilities Department,In Design,Mission Hill,1800000,0,0,0,...,0,100000,1500000,200000,0,0,0,0,0,1800000
2,Boston Centers for Youth and Families,BCYF North End Community Center,Develop a design for a new North End Community...,Public Facilities Department,In Design,North End,5000000,63000000,0,0,...,0,400000,3000000,64600000,0,0,0,0,20000000,88000000
3,Boston Centers for Youth and Families,Pool Repairs,Renovate and upgrade locker rooms and pools in...,Boston Centers for Youth and Families,Annual Program,Citywide,1300000,1000000,0,0,...,383450,450000,700000,766550,0,0,0,0,0,2300000
4,Boston Centers for Youth and Families,Youth Budget Round 4,Engage youth across the City to create a capit...,Youth Engagement and Employment,Implementation Underway,Citywide,1000000,0,0,0,...,17140,25000,250000,707860,0,0,0,0,0,1000000

#### Check Data Info

In [4]:
operating_budget.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Cabinet              900 non-null    object
 1   Dept                 900 non-null    object
 2   Program              900 non-null    object
 3   Expense Category     900 non-null    object
 4   FY21 Actual Expense  900 non-null    object
 5   FY22 Actual Expense  900 non-null    object
 6   FY23 Appropriation   900 non-null    object
 7   FY24 Adopted         900 non-null    object
dtypes: object(8)
memory usage: 56.4+ KB

In [5]:
capital_budget.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433 entries, 0 to 432
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Department              433 non-null    object
 1   Project_Name            433 non-null    object
 2   Scope_Of_Work           433 non-null    object
 3   PM_Department           433 non-null    object
 4   Project_Status          433 non-null    object
 5   Neighborhood            433 non-null    object
 6   Authorization_Existing  433 non-null    int64
 7   Authorization_FY        433 non-null    int64
 8   Authorization_Future    433 non-null    int64
 9    Grant_Existing         433 non-null    int64
 10   Grant_FY               433 non-null    int64
 11   Grant_Future           433 non-null    int64
 12  GO_Expended             433 non-null    int64
 13  Capital_Year_0          433 non-null    int64
 14   CapitalYear_1          433 non-null    int64
 15  Capital_Year_25         433 non-null    int64
 16  Grant_Expended          433 non-null    int64
 17  Grant_Year_0            433 non-null    int64
 18   Grant_Year_1           433 non-null    int64
 19  GrantYear_25            433 non-null    int64
 20  External_Funds          433 non-null    int64
 21  Total_Project_Budget    433 non-null    object
dtypes: int64(15), object(7)
memory usage: 74.6+ KB

#### Check Unique Values

In [6]:
operating_budget.nunique()

Cabinet                 21
Dept                    82
Program                220
Expense Category         7
FY21 Actual Expense    710
FY22 Actual Expense    755
FY23 Appropriation     698
FY24 Adopted           738
dtype: int64

In [7]:
capital_budget.nunique()

Department                 17
Project_Name              433
Scope_Of_Work             413
PM_Department              20
Project_Status              7
Neighborhood               24
Authorization_Existing    189
Authorization_FY           80
Authorization_Future       28
 Grant_Existing            55
 Grant_FY                  21
 Grant_Future               8
GO_Expended               124
Capital_Year_0             63
 CapitalYear_1             92
Capital_Year_25           243
Grant_Expended             37
Grant_Year_0               28
 Grant_Year_1              31
GrantYear_25               62
External_Funds             20
Total_Project_Budget      242
dtype: int64

#### Check Missing Values

In [8]:
operating_budget.isnull().sum()

Cabinet                0
Dept                   0
Program                0
Expense Category       0
FY21 Actual Expense    0
FY22 Actual Expense    0
FY23 Appropriation     0
FY24 Adopted           0
dtype: int64

In [9]:
capital_budget.isnull().sum()

Department                0
Project_Name              0
Scope_Of_Work             0
PM_Department             0
Project_Status            0
Neighborhood              0
Authorization_Existing    0
Authorization_FY          0
Authorization_Future      0
 Grant_Existing           0
 Grant_FY                 0
 Grant_Future             0
GO_Expended               0
Capital_Year_0            0
 CapitalYear_1            0
Capital_Year_25           0
Grant_Expended            0
Grant_Year_0              0
 Grant_Year_1             0
GrantYear_25              0
External_Funds            0
Total_Project_Budget      0
dtype: int64

There are Missing values that are marked as strings instead of NA. We need make the integer columns correct.

#### Change the columns

In [10]:
operating_budget['FY21 Actual Expense'] = operating_budget['FY21 Actual Expense'].str.replace(',', '')
operating_budget['FY21 Actual Expense'] = pd.to_numeric(operating_budget['FY21 Actual Expense'], errors='coerce')

operating_budget['FY22 Actual Expense'] = operating_budget['FY22 Actual Expense'].str.replace(',', '')
operating_budget['FY22 Actual Expense'] = pd.to_numeric(operating_budget['FY22 Actual Expense'], errors='coerce')

operating_budget['FY23 Appropriation'] = operating_budget['FY23 Appropriation'].str.replace(',', '')
operating_budget['FY23 Appropriation'] = pd.to_numeric(operating_budget['FY23 Appropriation'], errors='coerce')

operating_budget['FY24 Adopted'] = operating_budget['FY24 Adopted'].str.replace(',', '')
operating_budget['FY24 Adopted'] = pd.to_numeric(operating_budget['FY24 Adopted'], errors='coerce')

operating_budget.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Cabinet              900 non-null    object
 1   Dept                 900 non-null    object
 2   Program              900 non-null    object
 3   Expense Category     900 non-null    object
 4   FY21 Actual Expense  723 non-null    float64
 5   FY22 Actual Expense  759 non-null    float64
 6   FY23 Appropriation   785 non-null    float64
 7   FY24 Adopted         812 non-null    float64
dtypes: float64(4), object(4)
memory usage: 56.4+ KB

In [11]:
operating_budget.isnull().sum()

Cabinet                  0
Dept                     0
Program                  0
Expense Category         0
FY21 Actual Expense    177
FY22 Actual Expense    141
FY23 Appropriation     115
FY24 Adopted            88
dtype: int64

In [12]:
# rename some columns for easier access
operating_budget.rename(columns={'FY21 Actual Expense': 'FY21', 'FY22 Actual Expense': 'FY22', 'FY23 Appropriation': 'FY23', 'FY24 Adopted': 'FY24'}, inplace=True)
operating_budget.head()

,Cabinet,Dept,Program,Expense Category,FY21,FY22,FY23,FY24
0,Mayor's Cabinet,Mayor's Office,Mayor's Administration,Personnel Services,1820538.46,1624903.69,1584054.209,1921403.81
1,Mayor's Cabinet,Mayor's Office,Mayor's Administration,Contractual Services,127557.82,284597.90,99314.000,219633.42
2,Mayor's Cabinet,Mayor's Office,Mayor's Administration,Supplies & Materials,27318.17,28541.55,44938.000,55573.65
3,Mayor's Cabinet,Mayor's Office,Mayor's Administration,Current Charges & Obligations,11365.77,19410.30,29630.000,16734.29
4,Mayor's Cabinet,Mayor's Office,Mayor's Administration,Equipment,39040.60,16164.36,24900.000,36115.00

In [13]:
# pd.read_csv('data/fy24-adopted-operating-budget.csv').iloc[889]

In [14]:
# operating_budget.iloc[889]

In [15]:
capital_budget['Total_Project_Budget'] = capital_budget['Total_Project_Budget'].str.replace(',', '')
capital_budget['Total_Project_Budget'] = pd.to_numeric(capital_budget['Total_Project_Budget'], errors='coerce')
capital_budget['Total_Project_Budget'] = capital_budget['Total_Project_Budget'].astype('int64')

capital_budget.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433 entries, 0 to 432
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Department              433 non-null    object
 1   Project_Name            433 non-null    object
 2   Scope_Of_Work           433 non-null    object
 3   PM_Department           433 non-null    object
 4   Project_Status          433 non-null    object
 5   Neighborhood            433 non-null    object
 6   Authorization_Existing  433 non-null    int64
 7   Authorization_FY        433 non-null    int64
 8   Authorization_Future    433 non-null    int64
 9    Grant_Existing         433 non-null    int64
 10   Grant_FY               433 non-null    int64
 11   Grant_Future           433 non-null    int64
 12  GO_Expended             433 non-null    int64
 13  Capital_Year_0          433 non-null    int64
 14   CapitalYear_1          433 non-null    int64
 15  Capital_Year_25         433 non-null    int64
 16  Grant_Expended          433 non-null    int64
 17  Grant_Year_0            433 non-null    int64
 18   Grant_Year_1           433 non-null    int64
 19  GrantYear_25            433 non-null    int64
 20  External_Funds          433 non-null    int64
 21  Total_Project_Budget    433 non-null    int64
dtypes: int64(16), object(6)
memory usage: 74.6+ KB

#### Adjust/Unify Column Names

In [16]:
capital_budget.columns = ['Department', 'Project_Name', 'Scope_Of_Work', 'PM_Department',
       'Project_Status', 'Neighborhood', 'Authorization_Previous',
       'Authorization_Current', 'Authorization_Future', 'Grant_Existing',
       'Grant_Current', 'Grant_Future', 'Capital_Expended', 'Capital_Year_0',
       'Capital_Year_1', 'Capital_Year_2_5', 'Grant_Expended', 'Grant_Year_0',
       'Grant_Year_1', 'GrantYear_2_5', 'External_Funds',
       'Total_Project_Budget']
capital_budget.columns

Index(['Department', 'Project_Name', 'Scope_Of_Work', 'PM_Department',
       'Project_Status', 'Neighborhood', 'Authorization_Previous',
       'Authorization_Current', 'Authorization_Future', 'Grant_Existing',
       'Grant_Current', 'Grant_Future', 'Capital_Expended', 'Capital_Year_0',
       'Capital_Year_1', 'Capital_Year_2_5', 'Grant_Expended', 'Grant_Year_0',
       'Grant_Year_1', 'GrantYear_2_5', 'External_Funds',
       'Total_Project_Budget'],
      dtype='object')

#### Now save the two datasets for future uses

In [17]:
capital_budget.to_csv('data/capital_budget.csv', index=False)
operating_budget.to_csv('data/operating_budget.csv', index=False)

The questions that we can the most interesting in answering, which is the spending over time, can be examined in time series to further explore the data.