**"fy24-adopted-operating-budget" pre-processing**

In [2]:
import pandas as pd

# Load the provided CSV file
file_path = 'data/fy24-adopted-operating-budget.csv'
data = pd.read_csv(file_path)

# Displaying the first few rows of the dataset to understand its structure
data.head()

,Cabinet,Dept,Program,Expense Category,FY21 Actual Expense,FY22 Actual Expense,FY23 Appropriation,FY24 Adopted
0,Mayor's Cabinet,Mayor's Office,Mayor's Administration,Personnel Services,1820538.46,1624903.69,1584054.209,1921403.81
1,Mayor's Cabinet,Mayor's Office,Mayor's Administration,Contractual Services,127557.82,284597.9,99314,219633.42
2,Mayor's Cabinet,Mayor's Office,Mayor's Administration,Supplies & Materials,27318.17,28541.55,44938,55573.65
3,Mayor's Cabinet,Mayor's Office,Mayor's Administration,Current Charges & Obligations,11365.77,19410.3,29630,16734.29
4,Mayor's Cabinet,Mayor's Office,Mayor's Administration,Equipment,39040.6,16164.36,24900,36115

In [3]:
# 1. Handling missing values
# Checking for missing values in the dataset
missing_values = data.isnull().sum()

# 2. Converting data types
# Converting budget and expense columns to numeric types
columns_to_convert = ['FY21 Actual Expense', 'FY22 Actual Expense', 'FY23 Appropriation', 'FY24 Adopted']
for col in columns_to_convert:
    data[col] = pd.to_numeric(data[col], errors='coerce')

# 3. Data cleaning
# Handling any specific data cleaning based on domain knowledge (if required)

# 4. Standardizing column names
data.columns = [col.strip().replace(' ', '_').lower() for col in data.columns]

# 5. Adding or modifying features
# Example: Adding a new column for the change in budget from FY23 to FY24
data['fy24_change_from_fy23'] = data['fy24_adopted'] - data['fy23_appropriation']

# Displaying the updated dataframe and missing values
updated_missing_values = data.isnull().sum()
data.head(), missing_values, updated_missing_values

(           cabinet            dept                 program  \
 0  Mayor's Cabinet  Mayor's Office  Mayor's Administration
 1  Mayor's Cabinet  Mayor's Office  Mayor's Administration
 2  Mayor's Cabinet  Mayor's Office  Mayor's Administration
 3  Mayor's Cabinet  Mayor's Office  Mayor's Administration
 4  Mayor's Cabinet  Mayor's Office  Mayor's Administration

                 expense_category  fy21_actual_expense  fy22_actual_expense  \
 0             Personnel Services           1820538.46           1624903.69
 1           Contractual Services            127557.82            284597.90
 2           Supplies & Materials             27318.17             28541.55
 3  Current Charges & Obligations             11365.77             19410.30
 4                      Equipment             39040.60             16164.36

    fy23_appropriation  fy24_adopted  fy24_change_from_fy23
 0         1584054.209    1921403.81             337349.601
 1           99314.000     219633.42             120319.420
 2           44938.000      55573.65              10635.650
 3           29630.000      16734.29             -12895.710
 4           24900.000      36115.00              11215.000  ,
 Cabinet                0
 Dept                   0
 Program                0
 Expense Category       0
 FY21 Actual Expense    0
 FY22 Actual Expense    0
 FY23 Appropriation     0
 FY24 Adopted           0
 dtype: int64,
 cabinet                    0
 dept                       0
 program                    0
 expense_category           0
 fy21_actual_expense      181
 fy22_actual_expense      146
 fy23_appropriation       120
 fy24_adopted              93
 fy24_change_from_fy23    148
 dtype: int64)

In [5]:
# Saving the preprocessed data to a new CSV file
processed_file_path = 'data/processed_fy24-adopted-operating-budget.csv'
data.to_csv(processed_file_path, index=False)

processed_file_path

'data/processed_fy24-adopted-operating-budget.csv'

**Explaination:**

**Missing Values:** Some budget and expenditure columns in the dataset have missing values. For example, the 'FY21 Actual Expense' column has 181 missing values, the 'FY22 Actual Expense' column has 146 missing values, etc.

**Data Type Conversion:** The budget and expenditure columns have been successfully converted to numeric types.

**Column Name Standardization:** All column names have been standardized for easier reading and processing.

**New Feature Added:** A new column named 'fy24_change_from_fy23' has been added, indicating the change in the budget from FY23 to FY24.

**"fy24-adopted-revenue-budget" pre-processing**

In [6]:
import pandas as pd

# Load the CSV file
file_path = 'data/fy24-adopted-revenue-budget.csv'
df = pd.read_csv(file_path)

# Display the first few rows of the dataframe to understand its structure
df.head()

,Revenue Category,Account,Cabinet,Department,FY21 Actual,FY22 Actual,FY23 Appropriation,FY24 Adopted,Unnamed: 8,Unnamed: 9
0,Property Tax Levy,Real Estate Taxes,Finance,Assessing Department,"2,490,082,613","2,630,469,593","2,784,133,324","2,913,736,657",NaN,NaN
1,Property Tax Levy,Personal Property Tax,Finance,Assessing Department,"189,939,113","196,499,737","209,010,762","214,236,031",NaN,NaN
2,Property Tax Levy,Property Tax Overlay,Finance,Assessing Department,"-3,735,387","-33,174,590","-29,845,007","-30,000,000",NaN,NaN
3,Excises,MV Excise - Current Year,Finance,Assessing Department,"36,012,943","36,227,381","34,000,000","34,000,000",NaN,NaN
4,Excises,MV Excise - Prior Year,Finance,Assessing Department,"15,202,795","21,692,077","17,500,000","18,000,000",NaN,NaN

In [8]:
# Remove unnamed columns
df_cleaned = df.loc[:, ~df.columns.str.contains('^Unnamed')]

# Convert financial figures to numerical values
financial_columns = ['FY21 Actual', 'FY22 Actual', 'FY23 Appropriation', 'FY24 Adopted']
for column in financial_columns:
    df_cleaned[column] = df_cleaned[column].replace('[\$,]', '', regex=True).astype(float)

# Save the preprocessed file
output_file_path = 'data/processed_fy24-adopted-revenue-budget.csv'
df_cleaned.to_csv(output_file_path, index=False)

output_file_path

C:\Users\ThinkPad\AppData\Local\Temp\ipykernel_21244\1019527116.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned[column] = df_cleaned[column].replace('[\$,]', '', regex=True).astype(float)
C:\Users\ThinkPad\AppData\Local\Temp\ipykernel_21244\1019527116.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned[column] = df_cleaned[column].replace('[\$,]', '', regex=True).astype(float)
C:\Users\ThinkPad\AppData\Local\Temp\ipykernel_21244\1019527116.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned[column] = df_cleaned[column].replace('[\$,]', '', regex=True).astype(float)
C:\Users\ThinkPad\AppData\Local\Temp\ipykernel_21244\1019527116.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned[column] = df_cleaned[column].replace('[\$,]', '', regex=True).astype(float)

'data/processed_fy24-adopted-revenue-budget.csv'

In [9]:
# Load the CSV file
file_path = 'data/processed_fy24-adopted-revenue-budget.csv'
df = pd.read_csv(file_path)

# Display the first few rows of the dataframe to understand its structure
df.head()

,Revenue Category,Account,Cabinet,Department,FY21 Actual,FY22 Actual,FY23 Appropriation,FY24 Adopted
0,Property Tax Levy,Real Estate Taxes,Finance,Assessing Department,2.490083e+09,2.630470e+09,2.784133e+09,2.913737e+09
1,Property Tax Levy,Personal Property Tax,Finance,Assessing Department,1.899391e+08,1.964997e+08,2.090108e+08,2.142360e+08
2,Property Tax Levy,Property Tax Overlay,Finance,Assessing Department,-3.735387e+06,-3.317459e+07,-2.984501e+07,-3.000000e+07
3,Excises,MV Excise - Current Year,Finance,Assessing Department,3.601294e+07,3.622738e+07,3.400000e+07,3.400000e+07
4,Excises,MV Excise - Prior Year,Finance,Assessing Department,1.520280e+07,2.169208e+07,1.750000e+07,1.800000e+07

**Explaination**

Remove the unnamed columns, as they don't contain relevant information.


Ensure the financial figures are in a numerical format for easier processing.

**"fy24-capital-budget-plan-recommended" pre-processing**

In [11]:
import pandas as pd

# Load the CSV file
file_path = 'data/fy24-capital-budget-plan-recommended.csv'
df = pd.read_csv(file_path)

# Display the first few rows of the dataframe to understand its structure
df.head()

,Department,Project_Name,Scope_Of_Work,PM_Department,Project_Status,Neighborhood,Authorization_Existing,Authorization_FY,Authorization_Future,Grant_Existing,...,GO_Expended,Capital_Year_0,CapitalYear_1,Capital_Year_25,Grant_Expended,Grant_Year_0,Grant_Year_1,GrantYear_25,External_Funds,Total_Project_Budget
0,Boston Centers for Youth and Families,BCYF Security and Technology Upgrades,Improvements to technology infrastructure and ...,Boston Centers for Youth and Families,To Be Scheduled,Citywide,750000,1250000,0,0,...,0,0,100000,1900000,0,0,0,0,0,2000000
1,Boston Centers for Youth and Families,BCYF Tobin Community Center Retaining Wall,Repair or replace the retaining wall adjacent ...,Public Facilities Department,In Design,Mission Hill,1800000,0,0,0,...,0,100000,1500000,200000,0,0,0,0,0,1800000
2,Boston Centers for Youth and Families,BCYF North End Community Center,Develop a design for a new North End Community...,Public Facilities Department,In Design,North End,5000000,63000000,0,0,...,0,400000,3000000,64600000,0,0,0,0,20000000,88000000
3,Boston Centers for Youth and Families,Pool Repairs,Renovate and upgrade locker rooms and pools in...,Boston Centers for Youth and Families,Annual Program,Citywide,1300000,1000000,0,0,...,383450,450000,700000,766550,0,0,0,0,0,2300000
4,Boston Centers for Youth and Families,Youth Budget Round 4,Engage youth across the City to create a capit...,Youth Engagement and Employment,Implementation Underway,Citywide,1000000,0,0,0,...,17140,25000,250000,707860,0,0,0,0,0,1000000

In [12]:
# Standardize and format the code for column names
# Converts column names to lower case and replaces Spaces with underscores
data_standardized_columns = data.columns.str.lower().str.replace(' ', '_')

data_standardized_columns.tolist()

['cabinet',
 'dept',
 'program',
 'expense_category',
 'fy21_actual_expense',
 'fy22_actual_expense',
 'fy23_appropriation',
 'fy24_adopted',
 'fy24_change_from_fy23']

In [15]:
#removed duplicate rows from the data set

data_no_duplicates = data.drop_duplicates()


unique_departments = data_no_duplicates['dept'].unique()
unique_departments[:10]

data_no_duplicates.head()

,cabinet,dept,program,expense_category,fy21_actual_expense,fy22_actual_expense,fy23_appropriation,fy24_adopted,fy24_change_from_fy23
0,Mayor's Cabinet,Mayor's Office,Mayor's Administration,Personnel Services,1820538.46,1624903.69,1584054.209,1921403.81,337349.601
1,Mayor's Cabinet,Mayor's Office,Mayor's Administration,Contractual Services,127557.82,284597.90,99314.000,219633.42,120319.420
2,Mayor's Cabinet,Mayor's Office,Mayor's Administration,Supplies & Materials,27318.17,28541.55,44938.000,55573.65,10635.650
3,Mayor's Cabinet,Mayor's Office,Mayor's Administration,Current Charges & Obligations,11365.77,19410.30,29630.000,16734.29,-12895.710
4,Mayor's Cabinet,Mayor's Office,Mayor's Administration,Equipment,39040.60,16164.36,24900.000,36115.00,11215.000

In [18]:
# Outlier detection code
# Use descriptive statistics to see the distribution of numeric columns
numerical_descriptions = data_no_duplicates.describe()
numerical_descriptions

,fy21_actual_expense,fy22_actual_expense,fy23_appropriation,fy24_adopted,fy24_change_from_fy23
count,7.190000e+02,7.540000e+02,7.800000e+02,8.070000e+02,7.520000e+02
mean,4.046999e+06,4.105683e+06,4.055082e+06,4.157598e+06,2.398599e+05
std,2.127436e+07,2.143162e+07,2.108182e+07,2.149939e+07,2.457819e+06
min,-8.250000e+02,4.320000e+00,0.000000e+00,-2.150000e+02,-3.266469e+07
25%,7.597445e+03,9.225305e+03,1.057650e+04,1.442600e+04,-2.054983e+02
50%,1.128180e+05,1.309176e+05,1.374160e+05,1.729040e+05,1.155050e+03
75%,8.313804e+05,8.430500e+05,9.342827e+05,1.008667e+06,6.825075e+04
max,2.725432e+08,2.717209e+08,2.219648e+08,2.299187e+08,4.002674e+07

In [19]:
processed_file_path = 'data/processed_fy24-capital-budget-plan.csv'
data_no_duplicates.to_csv(processed_file_path, index=False)

processed_file_path

'data/processed_fy24-capital-budget-plan.csv'